@model AcmeCursos.ProfessorRemoto.Professor

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulacao)
        </dd>
    </dl>

    <div>
        @Html.DisplayFor(model => model.leciona)
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
