@model AcmeCursos.ProfessorRemoto.Professor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cursoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cursoId)
        </dd>

    </dl>
    <div>
        @Html.DisplayFor(model => model.cursos)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
